/* media queries! flexboxes!! */
:root {
    --bgdpurple: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%, 
        rgba(232, 102, 236, 0.6) 100%
        );
}

* {
    background-color: black;
    color: white;
}

header {
    display: flex;
    flex: auto;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 10%;
}

figure {
    border-style: dotted;
    border-width: 2px;
    padding: 10px;
}

pre {
    white-space: pre-wrap;
    width: auto;
    padding: 14px;
    background-image: var(--bgdpurple);
    border-radius: 5px;
    user-select: all;
}

.grid {
    display: grid; 
    width: 100%; 
    grid-template-columns: 1fr 1fr 1fr;
}

.card-header {
    position: relative;
    margin-top: -20px;
    border-style: dotted;
    border-width: 2px;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

.code-card .card-header {
    border-radius: 8px; 
    transition: all 0.5s ease-in-out;
}

.code-card:hover, code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px rgba(232, 102,236, 1), 0 0 15px rgba(232, 102, 236, 1);
}

@media screen and (max-width: 992px) {
    .grid {
        display: grid; 
        width: 100%; 
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
    }
}